{% extends "base.html" %}

{% block content %}
{% load static %}
<style>
    ul{
        list-style-type: none;
    }
    input, label {
        display:block;
    }
</style>

	<form class="shadow border rounded p-4 bg-light" name="createform" onsubmit="return validateForm()" method = "post" enctype="multipart/form-data">
        <div class="fs-3">Add Student</div>
        <br>
  
  	{% csrf_token %}
         
    <div class="mb-3">
        <label class="form-label" for="usn">Enter Reg No</label>
        <input list="usn" name="usn" class="form-control" required>
        <datalist id="usn">
            {% for i in student_list %}
                <option value="{{i.roll_no2}}">
            {% endfor %}
        </datalist> 
    </div>
    <div class="mb-3">
      <label class="form-label" for="year">Enter Year</label>
      <input list="year" name="year" class="form-control" required>
      <datalist id="year">
        <option value="1">
        <option value="2">
        <option value="3">
      </datalist> 
    </div>
    <div class="mb-3">
      <label class="form-label" for="academic_year">Enter Academic Year</label>
      <input list="academic_year" name="academic_year" class="form-control" required>
      <datalist id="academic_year">
        {% for i in year_list %}
        <option value="{{i.academic_year}}">
        {% endfor %}
      </datalist> 
    </div>  
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
{% endblock %}

        