{% extends "base.html" %}
{% load static %}
{% load accounts_extras %}


{% block content %} 

  <div class="shadow border rounded p-4 bg-light"> 
  {% if  day_list %}
    <div class="table-responsive">
      <button id="downloadexcel">Download Excel</button>
      <br><br>
      <script src="{% static 'table2excel.js' %}"></script>
      <table id="example-table" class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Receipt_No</th>
            <th scope="col">Total_Fees</th>
            <th scope="col">Tution_Fees</th>
            <th scope="col">Addmn_Fees</th>
            <th scope="col">ID_Fees</th>
            <th scope="col">Mag_Fees</th>
            <th scope="col">Lib_Fees</th>
            <th scope="col">Assn_Fees</th>
            <th scope="col">RR_Fees</th>
            <th scope="col">SWF_Fees</th>
            <th scope="col">TWF_Fees</th>
            <th scope="col">Lab_Fees</th>
            <th scope="col">SP_Fees</th>
            <th scope="col">NSS_Fees</th>
            <th scope="col">Dev_Fees</th>
          </tr>
        </thead>
        <tbody>
          {% for file in day_list %}
            <tr>
              <td scope="col">{{ file.date }}</td>
              <td scope="col">{{ file.fees_receipt_no }}</td>
              <td scope="col">{{ file.total_fees }}</td>
              <td scope="col">{{ file.tution_fees }}</td>
              <td scope="col">{{ file.admission_fees }}</td>
              <td scope="col">{{ file.id_fees }}</td>
              <td scope="col">{{ file.management_fees }}</td>
              <td scope="col">{{ file.lib_fees }}</td>
              <td scope="col">{{ file.assn_fees }}</td>
              <td scope="col">{{ file.rr_fees }}</td>
              <td scope="col">{{ file.swf_fees }}</td>
              <td scope="col">{{ file.twf_fees }}</td>
              <td scope="col">{{ file.lab_fees }}</td>
              <td scope="col">{{ file.sp_fees }}</td>
              <td scope="col">{{ file.nss_fees }}</td>
              <td scope="col">{{ file.dev_fees }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table> 
    </div>
  {% else %}
    <div class="fs-4">There are no files.</div>
  {% endif %}
 <div>
  <script>
    document.getElementById('downloadexcel').addEventListener('click',function(){
      var table2excel = new Table2Excel();
      table2excel.export(document.querySelectorAll("#example-table"));

    });
  </script>
{% endblock %}