{% extends "base.html" %}

{% block content %}
<style>
    ul{
        list-style-type: none;
    }
</style>
<script>
    function Formvalidation(){
         alert("Fees Updated Successfully")
       
        }
</script>
	<form class="shadow border rounded p-4 bg-light" method = "post" onsubmit="return Formvalidation()">
        <div class="fs-3">Update balance</div>
        <br>
        {% if  form.errors  %}
            <div class="text-danger">Please Enter Valid Information</div>
        {% endif %}
		{% csrf_token %}
        <div class="mb-3">
            <label for="name">Roll No</label>
            <input type="text" class="form-control" id="roll_no" name="roll_no" value="{{roll_no}}" readonly>
        </div>
        <div class="mb-3">
            <label for="dept">Year</label>
            <input type="text" class="form-control" id="year" name="year" value="{{year}}" readonly>
        </div>
        <div class="mb-3">
            <label for="dept">Balance</label>
            <input type="text" class="form-control" id="balance" name="balance" value="{{fees.balance}}" readonly>
        </div>
        <div class="mb-3">
            <label for="dept">Category</label>
            <input type="text" class="form-control" id="category" name="category" value="{{student.category}}" readonly>
        </div>
        <div class="mb-3">
            <label for="amount">Fees Receipt Number</label>
            <input class="form-control" type="text" name="receipt_no">
        </div>
        <div class="mb-3">
            <label for="amount">Amount</label>
            <input  class="form-control" type="number" name="amount">
        </div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
{% endblock %}